[submodule "backend"]
	path = backend
	url = git@github.com:muhammad-deve/backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:muhammad-deve/frontend.git
[submodule "landing"]
	path = landing
	url = git@github.com:muhammad-deve/landing.git
[submodule "server"]
	path = server
	url = git@github.com:muhammad-deve/server.git
